#pointTable th,
#pointTable td {
  border: 1px solid #000;
  padding: 6px;
  text-align: center;
}
#tableContainer {
  max-height: 300px;   /* 約可顯示 10 筆，可自行調整 */
  overflow-y: auto;    /* 超出時出現滾動條 */
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
#pointTable {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  max-width: 900px;
  margin: 20px auto;
  background-color: #fafafa;
  color: #333;
}

/* 其他設定 */
#map {
    height: 500px !important;
    margin-top: 15px;
    border-radius: 8px;
    position: relative;
    z-index: 0;}
#tips { color: #666; margin-left: 10px; display: none; }
#mapControls { display: flex; align-items: center; gap: 10px; margin-bottom: 5px; }

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  transition: background 0.2s;
}
button:hover {
  background-color: #0056b3;
}

/* RWD */
@media (max-width: 600px) {
  #map {
    height: 300px;
  }
}
